@import "../../styles/_colors.scss";

.hero {
  display: flex;
  align-items: center;
  padding-top: 40px;

  &__main-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 160px;
  }

  &__main-column,
  &__content-column {
    flex-shrink: 0;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 60px;
    color: map-get($colors, dark-blue);
    line-height: 1.13;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.83;
    font-weight: normal;
    color: map-get($colors, light-blue);
  }

  @keyframes wobble {
    16.65% {
      transform: translateY(8px);
    }
    33.3% {
      transform: translateY(-4px);
    }
    49.95% {
      transform: translateY(2px);
    }
    66.6% {
      transform: translateY(0px);
    }
    83.25% {
      transform: translateY(1px);
    }
    100% {
      transform: translateY(0);
    }
  }

  &__button {
    $c: map-get($colors, fuchsia);
    padding: 14px 26px;
    font-size: 18px;
    font-weight: bolder;
    color: rgba(#fff, 0.9);
    background: $c;
    background: linear-gradient(
      152deg,
      rgba(232, 106, 50, 1) 0%,
      $c 39%,
      lighten($c, 10)
    );
    border: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 0 1px rgba(#000, 0.18), inset 0 2px rgba(#fff, 0.2),
      0 2px 18px rgba($c, 0.5);
    appearance: none;
    cursor: pointer;
    transform: perspective(1px) translateZ(0);
    text-decoration: none;

    &:focus {
      outline: none;
    }

    &:hover {
      animation: wobble 720ms ease-in-out 1;
    }

    &:hover:after,
    &:focus:after {
      opacity: 1;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 0 0 1px rgba($c, 0.2), 0 0 4px 2px rgba($c, 0.5);
      border-radius: inherit;
      opacity: 0;
      transition: all 400ms ease;
    }
  }
}
