@import "../../styles/_colors.scss";

.hero {
  display: flex;
  align-items: center;
  padding-top: 40px;

  &__main-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 160px;
  }

  &__main-column,
  &__content-column {
    flex-shrink: 0;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 60px;
    color: map-get($colors, dark-blue);
    line-height: 1.13;
  }

  &__subtitle {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.83;
    font-weight: normal;
    color: map-get($colors, light-blue);
  }
}
