@import "../../styles/_colors";

.header {
  height: 66px;
  display: flex;
  align-items: center;

  &__brand {
    display: flex;
    align-items: center;
  }

  &__brand-logo {
    margin-right: 10px;
    // transform: scale(4);
    transform-origin: top left;
  }

  &__brand-title {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    color: map-get($colors, blue);
  }
}
