@import "../../styles/_colors.scss";

.office-proximity {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(#000, 0);
  transition: background 400ms ease;

  @at-root {
    .contact-card:hover &--qr-show &__qr-container {
      transform: translateY(66%) translateX(50px);
      transition-duration: 1600ms;
    }
  }

  &--qr-show &__qr-container {
    transform: translateY(72%) translateX(50px) scale(0.9);
    transition-duration: 1600ms;
  }

  &--qr-expanded {
    background: rgba(#000, 0.6);
  }

  &--qr-expanded &__qr-container {
    transform: translateY(0);
  }

  &--qr-expanded &__qr {
    opacity: 1;
  }

  &--qr-expanded &__enter-button {
    transform: translateY(200%);
  }

  &__button,
  &__enter-button {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 12px 14px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    z-index: 2;
  }

  &__button {
    background: rgba(#000, 0.5);
    background: linear-gradient(rgba(#000, 0.4), rgba(#000, 0.6));
    color: #fff;
    box-shadow: inset 0 0 0 1px rgba(#000, 0.25), inset 0 2px rgba(#fff, 0.15),
      0 4px 4px -2px rgba(#000, 0.3);
    z-index: 2;
  }

  &__distance {
    font-weight: bolder;
  }

  &__distance-label {
    opacity: 0.7;
  }

  @keyframes appear {
    to {
      opacity: 1;
    }
  }

  $c: map-get($colors, fuchsia);
  &__enter-button {
    font-weight: bolder;
    color: $c;
    background: linear-gradient(to top, lighten($c, 40), lighten($c, 60));
    box-shadow: 0 0 0 1px rgba(#000, 0.2), inset 0 -2px 10px -4px $c;
    opacity: 0;
    animation: appear 400ms ease forwards;
    cursor: pointer;
    transition: all 400ms ease;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      box-shadow: 0 0 0 1px rgba($c, 0.2), 0 0 4px 2px rgba($c, 0.5);
      border-radius: inherit;
      opacity: 0;
      transition: all 400ms ease;
    }

    &:hover {
      color: lighten($c, 20);
    }

    &:hover:after,
    &:focus:after {
      opacity: 1;
    }

    &:focus {
      outline: none;
    }
  }

  &__qr-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    transform: translateY(100%) scale(0.7);
    z-index: 1;
    transition: transform 800ms cubic-bezier(0.1, 0.91, 0.15, 1);
  }

  &__qr {
    padding: 20px;
    background: #fff;
    opacity: 0.7;
    border-radius: 13px;
    box-shadow: 0 0 0 1px rgba(#000, 0.2);
  }
}
